* {
  margin: 0;
  padding: none;
}
body {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr 5fr 1fr;
}
.grid {
  border: 2px black solid;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.enemyGrid {
  border: 2px black solid;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
#cell {
  border: solid 0.5px;
}
.form {
  display: grid;
  grid-template-rows: 1fr, 1fr;
  grid-column: span 2;
  grid-row: span 2;
}
.hit {
  background: beige;
}
.missed {
  background: black;
}
.player {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 5fr 1fr;
}
.numbers {
  font-size: larger;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.horNumbers {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  font-size: larger;
  justify-items: center;
}
.enemy{
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 5fr 1fr;

}
.main{
  width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 5fr;
}
label{
  text-align: center;
}
.playerMessage .enemyMessage{
  text-align: center;
}
h1{
  text-align: center;
}
input[type="submit"]{
  width: min-content;
  height: min-content;
  justify-self: center;
}
footer{
  text-align: center;
  align-self: end;
}